body {
  background-color: black;
  color: #ffffff;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head {
  text-decoration: none;
  color: #ffffff;
  font-size: 2rem;
  margin-left: 2rem;
  font-weight: 600;
  font-family: cursive;
}
